<app-filtro [titulo]="'Eventos'"></app-filtro>

<div class="form-inline" style="margin-left: 1rem">
  <div class="form-group mb-2 ">
    <div class="row">
      <label style="width: 5% !important; margin-right: 1rem; align-self: center;">Filtro: </label>
      <input
        aria-label=""
        type="text"
        class="form-control mr-2"
        placeholder="buscar"
        style="width: 20% !important; margin-right: 1rem;"
        [(ngModel)]="filtroLista">
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead style="background-color: black; color: white">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
        <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!mostrarImagem ? 'Exibir' : 'Ocultar'}}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem"
             [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}" alt=""
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Sem Eventos a exibir</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- {{eventos | json}}-->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que vc quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
